@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.app {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  background-color: rgb(84, 136, 200);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #ffffcc;
  padding: 5px 0;
  color: rgb(249, 148, 165);
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}

.sky {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, rgb(84, 136, 200), rgb(156, 219, 244)); 
}

.cloud {
  background: linear-gradient(to bottom, #FFF, #F0F0F0);
  border-radius: 50%;
  position: absolute;
  width: 140px;
  height: 80px;
  box-shadow: 0 0 15px #888;
}
.cloud:nth-child(odd) {
  background: linear-gradient(to bottom, #FFFFFF, #F0F0F0); /* White to light grey for odd clouds */
}

.cloud:nth-child(even) {
  background: linear-gradient(to bottom, #B0B0B0, #808080); /* Light grey to darker grey for even clouds */
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 50%;
}

.cloud:nth-child(odd):before, .cloud:nth-child(odd):after {
  background: #FFF; 
}

.cloud:nth-child(even):before, .cloud:nth-child(even):after {
  background: #B0B0B0; 
}

#cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6 {
  animation: moveClouds 60s linear infinite;
}

#cloud1 { left: 0%; top: 50px; }
#cloud2 { left: 15%; top: 30px; animation-delay: -10s; }
#cloud3 { left: 30%; top: 50px; animation-delay: -20s; }
#cloud4 { left: 45%; top: 30px; animation-delay: -30s; }
#cloud5 { left: 60%; top: 50px; animation-delay: -40s; }
#cloud6 { left: 75%; top: 30px; animation-delay: -50s; }

.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #FFF;
  border-radius: 50%;
}

.cloud:before {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 20px;
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -60px;
  right: 20px;
}

@keyframes moveClouds {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.search {
  margin: 20px auto;
}

.search input {
  padding: 15px; 
  width: 300px; 
  font-size: 20px; 
  font-family: 'Dancing Script', cursive;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 20px; 
}

.outfit-suggestion-button {
  background-color: rgb(249, 148, 165);
  font-family: 'Dancing Script', cursive;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 5px;
}

.outfit-suggestion-button:hover {
  background-color: rgb(249, 118, 142);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.results-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5em;
}

.api-results, .mascot-selection {
  width: 50%;
}

.mascot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mascot {
  max-width: 100%;
  height: 250px;
  margin: 0 auto; /* Center mascot image */
}

.outfit-suggestion {
  font-size: 1em;
  line-height: 1.5;
  color: black;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-info {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, auto);
  gap: 2px;
  padding: 2px;
  font-size: .75em;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  font-weight: bolder;
  color: black;
}

footer {
  background-color: #ffffcc;
  color: rgb(249, 148, 165);
  padding: 5px;
  margin-top: auto;
}
